div {
	margin: 10px auto;
}

#main {
	margin: 50px 0;
}

header, footer {
	margin: 10px;
    padding: 10px;
	background: #d9e6ff;
	border: 1px solid #b1cbff;
	height: 80px;
}

header {
	height: 34px;
}

footer {
	height: 50px;
}

.form {
	width: 400px;
	padding: 20px 10px;
}

.form div {
	width: 300px;
}

input {
	width: 280px;
	height: 35px;
}

.form button {
	width: 300px;
}

select {
	width: 50px;
	height: 23px;
}

textarea, #task_create_dep_tasks {
	width: 300px;
	height: 90px;
}