html, body {
	margin: auto;
}

header, footer {
	margin: 10px;
    padding: 10px;
	background: #d9e6ff;
	border: 1px solid #b1cbff;
	height: 80px;
}

#main {
	background: #e5e5e5;
	margin: 0 10px;
	border: 1px solid #aeaeae;
}

#filters {
	background: #cadaf6;
	border-bottom: 1px solid #aeaeae;
	height: 60px;
	padding-left: 10px;
	border-radius: 10px 10px 0 0;
}

section {
	margin: 10px 10px;
}

#main .links {
	padding-left: 10px;
}