{# app/Resources/views/layout.html.twig #}
{% extends "::base.html.twig" %}

{% block title %}Home Page{% endblock %}

{% block body %}
	<header>
		{% block header %}
		{% endblock %}
	</header>
	
	<div id="main">
		{% block content %}
		{% endblock %}
	</div>
	
	<footer>
		{% block footer %}
			<p>Copyright 2013</p>{# PHP function that will write the correct copyright #}
			{# 	function copyright($year)
			{#	{
			{#		$current_year = date('Y');
			{#		if($year != $current_year) 
			{#		{
			{#			echo $year . ' - ' . $current_year;
			{#		}
			{#		else
			{#			echo $year;
			{#	}#}
		{% endblock %}
	</footer>
	
{% endblock %}