{# app/Resources/views/layout.html.twig #}
{% extends "::base.html.twig" %}

{% block title %}Home Page{% endblock %}

{% block body %}
	<header>
		{% block header %}
		{% endblock %}
	</header>
	
	<div id="main">
		{% block content %}
		{% endblock %}
	</div>
	
	<footer>
		{% block footer %}
				{% if "now"|date("Y") != 2013 %}
					<p>Copyright © 2013 - {{ "now"|date("Y") }}<br>Designed by Guillaume Pascal and Alexandre Rabérin</p>
				{% else %}
					<p>Copyright © 2013<br>Designed by Guillaume Pascal and Alexandre Rabérin</p>
				{% endif %}
		{% endblock %}
	</footer>
	
{% endblock %}