{# src/TMS/UsersBundle/Resources/views/Default/dashboard.html.twig #}
{% extends "TMSUsersBundle:Default:userPage.html.twig" %}

{% block title %}{{ username }} - Tasks Manager{% endblock %}

{% block content %}
	<h1>Hello {{ username }}!</h1>
	<p>task manager here</p>
{% endblock %}