{# src/TMS/UsersBundle/Resources/views/Default/index.html.twig #}
{% extends "::layout.html.twig" %}

{% block header %}
	{#<form method="post" {{ form_enctype(form) }}>
		{#{{ form_widget(form) }}
		{#<input type="submit"/>
	{#</form> #}
{% endblock %}
	
{% block content %}
	<h1>Hello !</h1>
	<a href="{{ path('tms_users_dashboard', { 'username': 'KeRNeLith' }) }}">Link to your Dashboard</a>
	{#<a href="{{ path('tms_users_dashboard', { 'username': 'gupascal' }) }}">Link to your Dashboard</a>#}
{% endblock %}