{# src/TMS/userPage.html.twig #}
{% extends "::layout.html.twig" %}

{% block header %}
	<img src="{{ asset('images/profil.png') }}" alt="profil photo" />
	<p>{{ username }}</p>
	{#<a href="{{ path('Default', { 'username': 'xxx' }) }}">Manage your profil</a>#}
{% endblock %}